@charset "utf-8";
html, body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr{
    font-size: 12px;
    font-family: "微软雅黑";
    margin: 0;
    padding:0;
    list-style: none;
}

body img { width: 100%;}
/*头部*/
.header {}
.header>ul {float:left; height: 34px; line-height: 34px;}
.header .topHeader { width: 40%; text-align: center;}
.header .logBar { width: 30%; text-align: right;}
.header .logBar i { font-size: 18px; padding-right: 10px; }

.header #logo,#reply { width: 30%;}
.header #reply i { font-size: 2em;}
.header .logo-icon { font-size: 16px;padding-right: 4px; position: relative;}
.header .arrow-down { padding-left: 4px;}

br.clearfix { height: 0; clear: both; line-height: 0;}
.ad {
    padding-top: 44px;
    border-color: #145fd7;
    background-color: #4a87ee;
}
.ad article {
    position: absolute;
    margin-top: -35%;
    width: 100%;
    font-weight: bold;
}

.ad article p {text-align: center; color: #fff; font-size: 1.2em;}
/*导航*/
.nav { padding:0; margin:0; clear: both; background-color: #4a87ee;}
.nav li { list-style: none; float: left;; width:25%; text-align: center; margin:10px 0px;
    border-right:1px solid #fff; color:#fff; }
.nav li:nth-of-type(4) { border: none;}
.nav-icon { color:#fff; font-size: 28px;}

/*面包屑*/
.breadcrumbs {
    height: 30px; line-height: 40px; padding-left: 16px; font-size: 13px;
}

/*主体内容*/
.content {
	background: #fff;
	padding: 0 11px 20px;
}

/*热门车型*/
.index-title {
	border-bottom: 1px solid #c7cdd9;
	text-align: center;
	margin-bottom: 14px;
}
.index-title h4 { 
	margin:0; padding:0; 
	display: inline-block;
	padding: 0 12px;
	font-size: 14px;
	color: #000000;
	position: relative;
	bottom: -10px;
	background: #fff;
}

/*热门品牌*/
.brand-list li{
	width: 48%;
	float: left;
	border: 1px solid #c7cdd9;
	background: #ffffff;
	margin-right: 2%;
	margin-bottom: 8px;
	height: 60px;
	padding: 7px;
	border-radius: 8px;
}

.brand-list li a{
	display:block;
	width:134px;
	margin:0 auto;
	color: #000;
	text-decoration: none;
}
.brand-list li img{
	width: 44px;
	height: 44px;
	float: left;
}

.brand-list li p {
	margin-left: 56px;
	line-height: 44px;
	padding-left: 0;
}

/*列表*/
.list {}
.list ul { clear: both; }
.list ul li {
	border-radius: 10px;
	width: 48%;
	float: left;
	border: 1px solid #c7cdd9;
	background: #ffffff;
	padding: 0 6px 6px 8px;
	height: 160px;
	margin-right: 2%;
	margin-bottom: 8px;
}

.list li a {
	display: block;
	width: 134px;
	margin: 0 auto;
	text-decoration: none;
}

.list li a img {
	width: 120px;
	height: 80px;
	margin: 8px 0;
}

.list li a>div {
	position: relative;
}

.list li p {
	line-height: 20px;
	color: #000000;
	font-size: 1.2em;
	margin-top: -2px;
	text-align: center;
}

.list ul:after {
	content: " ";
	display: block;
	overflow: hidden;
	height: 0;
	clear: both;
}

.slide_item_wrap {
    position:relative;
    padding-left: 60px;
}

.slide_item_wrap i {
    position: absolute;
    width: 40px;
    height: 40px;
    left:10px;
    top:6px;
}

.slide_item_wrap h2{
    font-size:14px;
    height:30px;
    margin: 0;
    padding: 0;
}

.slide_item_wrap h2:last-child{
    font-weight:normal;
    height:60px;
    font-size: 13px;
}

.slide_item_wrap h2:nth-of-type(1){
    padding: 10px 0px 5px 0px;
    font-weight: bold;
}

/*城市选择*/
.city-select {
    padding-top:44px;
}

.city-select .row {
    margin:3px 0px;
}
.city-select .groups {}
.city-select h3 {font-size: 16px; font-weight: bold;}
.city-select .groups li {
    background:#4a87ee;
    padding:10px 20px;
    margin:4px;
    border-radius: 5px;
    color:#fff;
    font-size:14px;
}

/*汽车团购*/
#regiment {
    padding:0;
}

.advertisement {
    width: 100%;
}

.fillin-blank {}
.fillin-blank table {}
.fillin-blank table tr {}
.fillin-blank table tr td { padding: 5px 0px;}
.fillin-blank table tr td input { border-bottom: 1px dotted #d3d3d3;}
.fillin-blank table tr td select { padding:7px 0px;}
.fillin-blank table td:nth-of-type(1) { width: 15%;}
.fillin-blank table td:nth-of-type(2) { width: 85%;}

/*问答*/
.question {}
.question h3 { font-size: 13px; font-weight: bold; padding-bottom: 5px;}
.question p { font-size: 13px; padding: 0px 0; line-height: 22px;}

/* 报价 */
.detail-row { }

/* 成交记录 */
.bid-history {}

/*建议*/
.suggestion {
	border: 1px solid #c7cdd9; resize: none; width: 100%;
}

.record-title { clear:both; padding: 6px 0; font-size: 14px;}
.record-row { clear:both; padding-bottom: 6px;}
.record-row p { padding:2px 0px;}

.leftCloumn { float:left;}
.rightCloumn { float:right;}
.w-70p { width:70%;}
.w-60p { width:60%;}
.w-40p { width:40%;}
.w-30p { width:30%;}
.hrStyle { padding: 0; margin: 5px 0px; border: none; height: 1px; background: #c7cdd9;}
.textR { text-align: right;}
.textM { text-align: center;}
.more {
    position: absolute;
    right:4px;
    margin-top: -11px;
    font-size: 13px;
    padding: 0px 5px;
    background: #fff;
}
.fontB { font-weight: bold;}
.fontC1 { color:#145fd7;}
.fontS1 { font-size: 14px;}
.border-s1 { border-bottom:1px dotted #c7cdd9;}

footer {
	padding-top: 10px;
	background: #4a87ee;
	color:#fff;
}
footer ul {
	padding:0 0 20px 0;
}

/*swpier*/
.swiper-container{width:100%;padding-top:0px;padding-bottom:0px;}
.swiper-container:after{
	content: " ";
	display: block;
	overflow: hidden;
	height: 0;
	clear: both;
}
.swiper-slide{width:100%;}
.slideCell { height: 100px; border:1px solid #dadada; border-radius: 10px;}

/*public*/
.textCenter { text-align: center;}
.fc-orange { color:#cc2311;}
.orange { color:orange;}
.fsize1 { font-size: 1.2em;}
.ico { font-size:3.2em; color: #4a87ee;}
.paddingT44 { padding-top:44px;}
.marginT20 {margin-top: 20px;}
.marginA {
    margin-left: 50%;
    position: relative;
    left: -50px;
}


